@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

/*--Linear_gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%)*/

:root{
--Red: hsl(0, 100%, 66%);
--White: hsl(0, 0%, 100%);
--Light_grayish_violet: hsl(270, 3%, 87%);
--Dark_grayish_violet: hsl(279, 6%, 55%);
--Very_dark_violet: hsl(278, 68%, 11%);
}

body{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    display: flex;
    font-weight: 500;
}

.container{
    display: flex;
}

.left{
    background: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
    width: 70%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first_card{
    background: url(images/bg-card-front.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    width: 27rem;
    border-radius: 0.5rem;
    color: var(--White);
    justify-content: end;
    height: 15rem;
    position: relative;
    right: 30%;
}

.first_card .name_date{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.first_card #card_code{
    margin: 0 auto;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.first_card .big{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--White);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 0.5rem;
}

.first_card .small{
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--White);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    border-radius: 100%;
}

.first_card .circles{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 30%;
    left: 10%;
}